<!--- /js folder is referenced from the Web Server -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- datatables framework -->
<script src="/js/jquery.dataTables.min.js"></script> 
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/dataTables.responsive.min.js"></script>
<script src="/js/responsive.bootstrap.min.js"></script>
<script src="/js/dataTables.select.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>
  
